<div id="graphview" class="back">

    <div class="container has-background-grey" style="width: 80%;">
        <p class="title is-2 is-spaced is-white">Visu Graph</p>
    </div>

    <div class="panel has-background-white">
        
        <div>
        <p class="panel-heading">Control Panel</p>
        <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-link" type="text" placeholder="Search concept">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              bouton
            </button>
        </div>
        <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
                bouton
            </button>
        </div>
        </div>


        <div>
        <p class="panel-heading">Bead information</p>
          <div class="card">
            <div class="card-content">

              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Remote sensing</p>
                  <p class="subtitle is-6">Observation</p>
                </div>
            </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris.
              </div>
            </div>
          </div>
        </div>
        <div class="panel-block">
            <button (click)="fullscreenmodes()" class="button is-info is-fullwidth">
              View full screen
            </button>
        </div>
    </div>
</div>