.back {
    height: 100vh;
    display: flex;
    transition: 0.25s;
    padding-top: 50px;
}

.panel {
    width: 20%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    overflow:scroll;
}