<section id="discover" class="section" style="padding-left:10%; padding-right:10%;">
  <h1 class="title" style="margin-bottom: 50px;">But what is Tree Of Beads ?</h1>
  <h2 class="subtitle" style="text-align: justify;">
    Anim laborum magna fugiat ipsum est duis ut quis aute culpa aliqua ad pariatur cupidatat. Cillum officia culpa Lorem
    adipisicing qui enim ipsum officia ipsum exercitation. Lorem tempor incididunt in incididunt proident amet
    exercitation officia ex. Id est proident ad culpa. Do dolore commodo labore in aute id enim fugiat aute duis nostrud
    et commodo ut. Minim sint in non exercitation et duis sit incididunt. Et nisi sint reprehenderit anim eu excepteur
    ea incididunt voluptate veniam amet culpa anim.
  </h2>
  <h2 class="subtitle" style="text-align: justify;">
    Incididunt cupidatat ut ut officia incididunt sint enim est dolor pariatur aute aliqua. Adipisicing nisi elit
    aliquip sunt proident sunt laboris voluptate irure non quis pariatur. Cillum et veniam esse duis. Exercitation
    aliquip adipisicing nisi minim laborum consequat reprehenderit.
  </h2>
  <h2 class="subtitle" style="text-align: justify;">
    Culpa proident aute incididunt labore minim officia aliqua aliquip. Adipisicing id enim aute ad cillum tempor veniam
    magna dolore. Occaecat excepteur in exercitation ex labore ullamco est commodo fugiat minim cupidatat qui fugiat.
    Commodo ad cillum eiusmod reprehenderit tempor cupidatat ex cupidatat duis minim. Laborum anim incididunt cupidatat
    exercitation ad proident nisi irure labore culpa id. Cupidatat pariatur in enim aute exercitation nulla dolore elit
    in pariatur.
  </h2>
  <div style="height: 100px;"></div>

  <h1 class="title" style="margin-bottom: 50px;text-align:right;">How it work ?</h1>

  <h2 class="subtitle" style="text-align: justify;">Est amet ullamco dolore labore ex. Ad eiusmod aliqua sunt veniam et
    magna sunt irure eiusmod
    sunt. Et ea dolore sit minim sit aliquip nisi tempor magna. Voluptate laboris non commodo nisi nisi enim eu aute
    adipisicing proident et. Ut tempor cillum ipsum aute. Eu adipisicing sit aliqua irure deserunt qui.</h2>
  <h2 class="subtitle" style="text-align: justify;">Aute ex dolore commodo Lorem laboris enim laborum amet duis. Lorem
    exercitation consectetur enim
    qui esse deserunt reprehenderit incididunt cupidatat excepteur do do sit sit. Officia cillum nulla qui consequat.
    Qui magna ut id commodo labore labore magna. Cupidatat eu mollit ipsum fugiat.</h2>
  <h2 class="subtitle" style="text-align: justify;">Enim laboris in Lorem amet in officia cillum reprehenderit
    exercitation fugiat reprehenderit ad
    incididunt. Sint occaecat excepteur voluptate nulla minim occaecat culpa adipisicing qui. Id elit dolor sit anim
    aute do ea labore non. In velit et commodo reprehenderit et culpa aute amet cupidatat consectetur adipisicing.</h2>


  <div style="height: 100px;"></div>

  <div class="container is-max-desktop">
    <div class="notification" style="text-align: center;">
      <h1 class="title">An Open-Source Project</h1>
      <h2 class="subtitle" style="text-align:justify;margin-top:10px;">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
      </h2>
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <figure class="image is-128x128">
              <img class="is-rounded" src="./assets/img/logo_tobgraphserver.png">
            </figure>
            <p class="title is-white">TobGraphServer</p>
            <p class="desc">Laboris incididunt excepteur aliqua labore. Sint in sit et labore ullamco aute fugiat
              laborum nisi. Do velit consequat aliqua ex ex mollit qui cillum nostrud irure voluptate consequat mollit.
              Lorem reprehenderit et pariatur velit do sunt minim reprehenderit. Anim et voluptate laborum officia
              laborum qui consectetur consequat fugiat.</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-primary">
            <figure class="image is-128x128">
              <img class="is-rounded" src="./assets/img/logo_tobwebinterface.png">
            </figure>
            <p class="title is-white">TobWebInterface</p>
            <p class="desc">Laboris incididunt excepteur aliqua labore. Sint in sit et labore ullamco aute fugiat
              laborum nisi. Do velit consequat aliqua ex ex mollit qui cillum nostrud irure voluptate consequat mollit.
              Lorem reprehenderit et pariatur velit do sunt minim reprehenderit. Anim et voluptate laborum officia
              laborum qui consectetur consequat fugiat.</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <figure class="image is-128x128">
              <img class="is-rounded" src="./assets/img/logo_tobuserserver.png">
            </figure>
            <p class="title is-white">TobUserServer</p>
            <p class="desc">Laboris incididunt excepteur aliqua labore. Sint in sit et labore ullamco aute fugiat
              laborum nisi. Do velit consequat aliqua ex ex mollit qui cillum nostrud irure voluptate consequat mollit.
              Lorem reprehenderit et pariatur velit do sunt minim reprehenderit. Anim et voluptate laborum officia
              laborum qui consectetur consequat fugiat.</p>
          </article>
        </div>
      </div>
      <a href="https://github.com/JulesPierrat/TreeOfBeads">
        <h3 class="subtitle" style="margin-top: 10px;"> Join us on GitHub </h3>
      </a>
    </div>
  </div>

  <h1 class="title" style="margin-bottom: 50px;margin-top:50px;">Let's start experience !</h1>
  <h2 class="subtitle" style="text-align: justify;">
    Anim laborum magna fugiat ipsum est duis ut quis aute culpa aliqua ad pariatur cupidatat. Cillum officia culpa
    Lorem
    adipisicing qui enim ipsum officia ipsum exercitation. Lorem tempor incididunt in incididunt proident amet
    exercitation officia ex. Id est proident ad culpa. Do dolore commodo labore in aute id enim fugiat aute duis
    nostrud
    et commodo ut. Minim sint in non exercitation et duis sit incididunt. Et nisi sint reprehenderit anim eu
    excepteur
    ea incididunt voluptate veniam amet culpa anim.
  </h2>
  <div style="width:100%; height:100px;margin-top:20px;display:flex;">
    <div class="button is-primary is-outlined is-rounded" style="margin:auto;width: 200px;height: 70px;" (click)="goToLoginPage()"><strong>Enter Tree Of Beads</strong></div>
  </div>

</section>