<section
  id="discover"
  class="section"
  style="padding-left: 10%; padding-right: 10%"
>
  <h1 class="title" style="margin-bottom: 50px">But what is Tree Of Beads ?</h1>
  <h2 class="subtitle" style="text-align: justify">
    Tree of Beads (ToB) is a free interactive tool presented in collaboration
    between the European Copernicus program, the CNES (Centre National d'études
    spatiales) and ENSG (Ecole Nationale des Sciences Géographiques). It's aim
    is to provide a centralized platform for everyone that wants to discover or
    improve their skills and knowledge regarding remote sensing. A better
    understanding of remote sensing technologies and concepts will allow you to
    better use the open source Copernices program products.
  </h2>
  <h2 class="subtitle" style="text-align: justify">
    If you're a beginner or already an expert that wants to extend the reach of
    its capabilities, this platform is made for you! If you're looking for
    specific formations relative to your needs, our tool will provide you whith
    a clear and distinct path toward mastering this fields of remote sensing.
    Our tool is able to lay before you a clear path that will take you step by
    step toward your goal without skipping any pre-requisites so that you can
    understand the full ramifications of what you're trying to learn.
  </h2>
  <h2 class="subtitle" style="text-align: justify">
    This tool is divided into different job implementations like 'detecting
    wildfires' or 'calculate gases concentrations over an area'. Those job
    implementations are made of a series of concept that sometime recoup each
    other for the most basic ones. The This way, it is easier for you to
    identify you're needs or get informed on a job implementation close to your
    needs. If you feel that your needs are not enough represented in any of the
    job implementations, feel free to contact us so that we can deliver a new
    formation cursus.
  </h2>
  <div style="height: 100px"></div>

  <h1 class="title" style="margin-bottom: 50px; text-align: right">
    How does it work ?
  </h1>

  <h2 class="subtitle" style="text-align: justify">
    First of all, read this page and don't hesitate to come back to it if you
    have any questions. Our tool is divided into multiple pages. This one is
    considered the presentation page, here you will find all the needed infos on
    what is and how to use ToB. If you want to have a quick overall look at the
    formation tree, hit the "discover" button on top of the page. If you want a
    taste of the full experience of using ToB, we strongly advise you to SignUp
    or Login into the platform. This way, you will be able to track your
    progression and contact other user enroled in the same formation as you are.
  </h2>
  <h2 class="subtitle" style="text-align: justify">
    There is three types of ways you can interact with the platform : as a
    visitor, you get the basic representation of the tree and a taste of the
    different possibilites of the tool. To get the full extent of the tools like
    progress tracking and cursus proposition, create a user account using the
    signup button! Finally, if you are an expert in remote sensing and want to
    participate in the project by proposing formations or adding data to
    concept, we recommend that you create a contributor account.
  </h2>
  <h2 class="subtitle" style="text-align: justify">
    Once you are on the interactive page, on the left you will have the
    graphical representation of the tree, where you can follow you progress,
    explore different concepts and overall move arround between skills and
    concepts. On the right of the page, is the specific informations display,
    once you selected a node in the graph, its specificities will appear here.
    If you are connected as a contributor, you will even be able to edit the
    node infos.
  </h2>

  <div style="height: 100px"></div>

  <div class="container is-max-desktop">
    <div class="notification" style="text-align: center">
      <h1 class="title">An Open-Source Project</h1>
      <h2 class="subtitle" style="text-align: justify; margin-top: 10px">
        A simple container to divide your page into <strong>sections</strong>,
        like the one you're currently reading. The whole code for this platform
        is accessible through the github link below.
      </h2>
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <figure class="image is-128x128">
              <img
                class="is-rounded"
                src="./assets/img/logo_tobgraphserver.png"
              />
            </figure>
            <p class="title is-white">TobGraphServer</p>
            <p class="desc">
              This part relates to the implementation of the ToB knowledge
              database. Specificaly, it is used to create and maintain our graph
              database that we implemented base on the one constructed by eo4geo
              available at this link: <a href>https://bok.eo4geo.eu/GIST</a>
            </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-primary">
            <figure class="image is-128x128">
              <img
                class="is-rounded"
                src="./assets/img/logo_tobwebinterface.png"
              />
            </figure>
            <p class="title is-white">TobWebInterface</p>
            <p class="desc">
              This section of the code is coded using the Angular framework and
              allow the display of our graph database as well as the
              implementation of the whole platform from frontend to backend. It
              is also responsiblefor the user interactions.
            </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <figure class="image is-128x128">
              <img
                class="is-rounded"
                src="./assets/img/logo_tobuserserver.png"
              />
            </figure>
            <p class="title is-white">TobUserServer</p>
            <p class="desc">
              The user Server is pretty self-explainatory, it handles the
              communications between the web interface and the user database.
              The user database stores infos about the user and their
              progress/participation within the platform ToB.
            </p>
          </article>
        </div>
      </div>
      <a href="https://github.com/JulesPierrat/TreeOfBeads">
        <h3 class="subtitle" style="margin-top: 10px">Join us on GitHub</h3>
      </a>
    </div>
  </div>

  <h1 class="title" style="margin-bottom: 50px; margin-top: 50px">
    Let's start the experience !
  </h1>
  <h2 class="subtitle" style="text-align: justify">
    No that you know all there is to know about Tree of Beads, you can start the
    experience, start learning and improving your skills by hitting the button
    below! Hope you enjoy our platform and let's start learning everything there
    is to know about about remote sensing!
  </h2>
  <div style="width: 100%; height: 100px; margin-top: 20px; display: flex">
    <div
      class="button is-primary is-outlined is-rounded"
      style="margin: auto; width: 200px; height: 70px"
      (click)="goToLoGraphviewPage()"
    >
      <strong>Enter Tree Of Beads</strong>
    </div>
  </div>
</section>
