<nav class="navbar is-dark is-fixed-top">
    <!-- Logo -->
    <div class="navbar-brand">
        <a class="navbar-item" href=".">
            <img src="assets/img/logo_tob.png">
        </a>
        <div class="navbar-item">
            <p>Tree of Beads</p>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" (click)="goToLoginPage()">
                        <strong>Log In</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
