.back {
    width: 100vw;
    height: 100vh;
    margin: 0;
    transition: 0.25s;
    background-image: url(src/assets/img/sentinel2-bg8.jpg) !important;
    background-size: cover;
    background-position: center center;
}