<section id="myheader" class="hero is-danger is-fullheight is-primary" >
  <div class="hero-body is-primary">
    <div class="">
      <p class="title is-1 is-spaced is-white">
        <strong>{{ title }}</strong>
      </p>
      <p class="subtitle is-3 is-white">
        {{ description }}
      </p>
      <div class="button is-primary" style="margin-right: 20px;" (click)="smoothTo()"><strong>Discover</strong></div>
      <div class="button" (click)="goToLoGraphviewPage()"><strong>Enter</strong></div>
    </div>
  </div>
</section>